<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear folio</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link href="https://file.myfontastic.com/K9B3SyNkABQPJah8pPK9eE/icons.css" rel="stylesheet">
</head>

<body>
    <div class="menu-container">
        <a href="{% url 'login' %}" class="container-icon"><!--Y29waW9u-->
                  <p class="icon-text">ROSNECSA</p>
        </a>
        <span class="icon-bars" id="btn-menu"></span>
        <nav id="navegador">
            <ul>
                <li><a    class="item-link item-welcome">Bienvenido! {{ request.user.first_name}} </a></li>
                <li><a href="{% url 'listar_clientes' %}" id="select"  class="item-link">Clientes</a></li>
                <li><a href="{% url 'listar_folios' %}"  class="item-link">Folios</a></li>
                {% if user.is_superuser %}
                <li><a href="{% url 'listar_tecnicos' %}" class="item-link">Asignar</a></li>
                {% endif %}
                {% if user.is_superuser %}
                <li><a href="{% url 'crear_cliente' %}" class="item-link">Crear cliente</a></li>
                {% endif %}
                
                <li>
                    <form  action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <input class="item-link" type="submit" value="Cerrar Sesion">
                    </form>
                    </li>
            </ul>
        </nav>
    </div>
    <div class="general-container">
        <form class="item-register" method="post">{% csrf_token %}
            <div class="item-title">
                <span class="icon-tools"></span>
                <h2>Orden:</h2>
            </div>
            {{ form.cliente_folio.errors }}
            <div class="item-input">
                <label for="{{ form.cliente_folio.id_for_label }}">Nombre Cliente:</label>
                    {{ form.cliente_folio }}
            </div>
            {{ form.fecha_folio.errors }}
            <div class="item-input">
                <label for="{{ form.fecha_folio.id_for_label }}">Fecha:</label>

                {{ form.fecha_folio }}
            </div>
            {{ form.hora_inicio_folio.errors }}
            <div class="item-input">
                <label for="{{ form.hora_inicio_folio.id_for_label }}">Hora inicio:</label>
               
                {{ form.hora_inicio_folio }}
            </div>
            {{ form.hora_termino_folio.errors }}
            <div class="item-input">
                <label for="{{ form.hora_termino_folio.id_for_label }}">Hora Termino:</label>
                {{ form.hora_termino_folio  }}
            
            </div>
            {{ form.codigo_ascensor.errors }}
            <div class="item-input">
                <label for="{{ form.codigo_ascensor.id_for_label }}">Codigo ascensor:</label>
               {{ form.codigo_ascensor }}
            </div>
            {{ form.fallas_detectadas_folio.errors }}
            <div class="item-input">
                <label for="{{ form.fallas_detectadas_folio.id_for_label }}">Fallas detectadas:</label>
                {{ form.fallas_detectadas_folio }}
            </div>
            {{ form.reparaciones_efectuadas_folio.errors }}
            <div class="item-input">
                <label for="{{ form.reparaciones_efectuadas_folio.id_for_label }}">Reparaciones efectuadas:</label>
                {{ form.reparaciones_efectuadas_folio }}
            </div>
            {{ form.piezas_cambiadas_folio.errors }}
            <div class="item-input">
                <label for="{{ form.piezas_cambiadas_folio.id_for_label }}">Piezas cambiadas:</label>
               {{ form.piezas_cambiadas_folio }}
            </div>
            {{ form.receptor_trabajo_folio.errors }}
            <div class="item-input">
                <label for="{{ form.receptor_trabajo_folio.id_for_label }}">Receptor trabajo:</label>
                {{ form.receptor_trabajo_folio }}
            </div>
        
            
            <div class="item-input">
                <button type="submit">Registrarse</button>
            </div>
        </form>
    </div>
    <script src="{% static 'js/javamenu.js' %}"></script>
</body>

</html>