<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar cliente</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/listclient.css' %}">
    <link href="https://file.myfontastic.com/K9B3SyNkABQPJah8pPK9eE/icons.css" rel="stylesheet">
</head>

<body>
<div class="menu-container">
        <a href="{% url 'login' %}" class="container-icon"><!--Y29waW9u-->
                    <p class="icon-text">ROSNECSA</p>
        </a>
        <span class="icon-bars" id="btn-menu"></span>
        <nav id="navegador">
            <ul>
                 <li><a    class="item-link item-welcome">Bienvenido! {{ request.user.first_name}} </a></li>
                <li><a href="{% url 'listar_clientes' %}" id="select"  class="item-link">Clientes</a></li>
                <li><a href="{% url 'listar_folios' %}"  class="item-link">Folios</a></li>
                {% if user.is_superuser %}
                <li><a href="{% url 'listar_tecnicos' %}" class="item-link">Asignar</a></li>
                {% endif %}
                {% if user.is_superuser %}
                <li><a href="{% url 'crear_cliente' %}" class="item-link">Crear cliente</a></li>
                {% endif %}
        
                <li>
                    <form  action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <input class="item-link" type="submit" value="Cerrar Sesion">
                    </form>
                    </li>
            </ul>
        </nav>
    </div>
    <div class="general-container">

    <div class="container-gen">
         <h1>Atender Clientes</h1>   
               <div class="table-container">
                   
                <table class="table-client"><!--Y29waW9u-->
                    <tr>
                        <th>ID:</th>
                        <th>Nombre:</th>
                        <th>Comuna:</th>
                        <th>Telefono:</th>
                        <th>Correo:</th>
                        <th>Confirmar</th>
                    </tr>
                    {% if user.is_staff %}
                    {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.id_cliente }}</td>
                        <td>{{ cliente.nombre_cliente }}</td>
                        <td>{{ cliente.comuna_cliente }}</td>
                        <td>{{ clientes.telefono_cliente }}</td>
                        <td>{{ cliente.correo_cliente }}</td>
                        <td><a href="{% url 'crear_folio' %}">Orden</a></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    
                    {% if user.is_superuser %}
                    {% for clientes in todos_clientes %}
                    <tr>
                        <td>{{ clientes.id_cliente }}</td>
                        <td>{{ clientes.nombre_cliente }}</td>
                        <td>{{ clientes.comuna_cliente }}</td>
                        <td>{{ clientes.telefono_cliente }}</td>
                        <td>{{ clientes.correo_cliente }}</td>
                        <td><a href="{% url 'crear_folio' %}">Orden</a></td>    
                    </tr>
                    {% endfor %}
                    {% endif %}
               
            
                </table>
            </div>

   
    </div>

    </div>
  
    <script src="{% static 'js/javamenu.js' %}"></script>
</body>

</html>