<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista folios</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link href="https://file.myfontastic.com/K9B3SyNkABQPJah8pPK9eE/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/listFolios.css' %}">
</head>

<body>
    <div class="menu-container">
        <a href="{% url 'login' %}" class="container-icon"><!--Y29waW9u-->
                    <p class="icon-text">ROSNECSA</p>
        </a>
        <span class="icon-bars" id="btn-menu"></span>
        <nav id="navegador">
            <ul>
                 <li><a    class="item-link item-welcome">Bienvenido! {{ request.user.first_name}} </a></li>
                <li><a href="{% url 'listar_clientes' %}"   class="item-link">Clientes</a></li>
                <li><a href="{% url 'listar_folios' %}" id="select" class="item-link">Folios</a></li>
                {% if user.is_superuser %}
                <li><a href="{% url 'listar_tecnicos' %}" class="item-link">Asignar</a></li>
                {% endif %}
                {% if user.is_superuser %}
                <li><a href="{% url 'crear_cliente' %}" class="item-link">Crear cliente</a></li>
                {% endif %}
        
                <li>
                    <form  action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <input class="item-link" type="submit" value="Cerrar Sesion">
                    </form>
                    </li>
            </ul>
        </nav>
    </div>
    <div class="general-container">

    <div class="container-gen">
          <h1>Folios</h1>
   
               <div class="table-container">
                <table class="table-client">
                    <tr>

                        <th>ID:</th>
                        <th> Cliente:</th>
                        <th>Hora Termino:</th>
                        <th>Receptor Trabajo:</th>
                        <th>Confirmar</th>
                    </tr>
                {% if user.is_staff %}
                {% for folio in folios %}
                         <tr>
                        <td>{{ folio.n_folio }}</td>
                        <td>{{ folio.cliente_folio }}</td>
                        <td>{{ folio.hora_termino_folio }}</td>
                        <td>{{ folio.receptor_trabajo_folio }}</td>
                        <td><a href="{% url 'detalle_folio' pk=folio.pk %}">Ver</a></td>
                    </tr>
                {% endfor %}
                {% endif %}
                    
                {% if user.is_superuser %}
                {% for folio in todos_folios %}
                      <tr>
                        <td>{{ folio.n_folio }}</td>
                        <td>{{ folio.cliente_folio }}</td>
                        <td>{{ folio.hora_termino_folio }}</td>
                        <td>{{ folio.receptor_trabajo_folio }}</td>
                        <td><a href="{% url 'detalle_folio' pk=folio.pk %}">Ver</a></td>
                 </tr>
                {% endfor %}
                {% endif %}
                </table>
            </div>

   
    </div>

    </div>
  
    <script src="{% static 'js/javamenu.js' %}"></script>
</body>

</html>