<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link rel="icon" href="img/icon.png">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/menu.css">
    <link href="https://file.myfontastic.com/Zu2x3YbfXDnDmKv8Pz87YG/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/listUsers.css">
</head>

<body>
    <div class="menu-container">
        <a href="index.html" class="container-icon">
            <span class="icon-bicycle"></span>
            <p class="icon-text">MOBIKE</p>
        </a>
        <span class="icon-bars" id="btn-menu"></span>
        <nav id="navegador">
            <ul>
                <div class="item-user">
                    <img src="img/perro-calle4.jpg">
                    Bienvenido!<p>Bastian Perez</p>
                </div>
                <li><a href="index.html" class="item-link">Inicio</a></li>
                <li><a href="registro.html" class="item-link">Registro</a></li>
                <li><a href="mapa.html" class="item-link">Mapa</a></li>
                <li><a href="#" class="item-link">Configuracion</a></li>
            </ul>
        </nav>
    </div>
    <div class="general-container">
        <h2>Clientes Registrados</h2>
        <div id="insert" class="container-list">


            <div class="item-list">
                <div class="item-list-name">
                    <a href="#" id="ref-info"> <span class="icon-pencil-square-o"></span></a>
                    <p id="name">Aqui nombre</p>
                    <p></p>
                </div>
                <div class="item-list-info">
                    <div class="item-list-data">Rut:</div>
                    <div class="item-list-data">
                        <p id="rut">22131312</p>
                    </div>

                </div>
            </div>
            <div class="item-list">
                <div class="item-list-name">
                    <a href="#" id="ref-info"> <span class="icon-pencil-square-o"></span></a>
                    <p id="name">Aqui nombre</p>
                    <p></p>
                </div>
                <div class="item-list-info">
                    <div class="item-list-data">Rut:</div>
                    <div class="item-list-data">
                        <p id="rut">22131312</p>
                    </div>

                </div>

            </div>
            <div class="item-list">
                <div class="item-list-name">
                    <a href="#" id="ref-info"> <span class="icon-pencil-square-o"></span></a>
                    <p id="name">Aqui nombre</p>
                    <p></p>
                </div>
                <div class="item-list-info">
                    <div class="item-list-data">Rut:</div>
                    <div class="item-list-data">
                        <p id="rut">22131312</p>
                    </div>

                </div>
            </div>




        </div>

    </div>
    <script src="js/javamenu.js"></script>
</body>

</html>